<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="IntradayPowerPositionExtractIntervalSeconds" value="60"/>
    <add key="OutputDirectory" value="."/>
    <add key="ServiceStopWaitTimeSeconds" value="10"/>
    <add key="ExtractsLogFilename" value="PowerPositionExtractsLog"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
